body {
    background-image: linear-gradient(to right, #fefefe 0%, #00feed 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

header,
footer {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px
}

.links a {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}

h2 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 35px;
}

p {
    font-size: 20px;
}