body {
    background-image: linear-gradient(to right, #0088ff 0%, #00feed 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

header,
footer {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px
}

.links a {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}



.container {
    display: flex;

    border: 4px solid black;
    gap: 10px;
    justify-content: flex-start;
    align-items: middle center;
    text-align: left;
    /* flex-wrap: wrap; */
}

.item {
    width: 200px;
    height: 200px;
    background-color: orange;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    text-align: center;

}

.item:hover {
    background: red;
    transform: scale(1.05);
}

.social-logo {
    width: 40px;
    height: 40px;
}


main {
    text-align: center;
}

.circle {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto;

}

h1 {
    font-size: 50px;
    color: black;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif
}